config/config.php
assets/img/produtos/*
!assets/img/produtos/.gitkeep
!assets/img/produtos/.htaccess
assets/img/uploads/*
!assets/img/uploads/.gitkeep
!assets/img/uploads/.htaccess
*.log
.DS_Store
Thumbs.db
